.square {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-duration: 5s;
    animation-name: square;
    animation-iteration-count: infinite;    
}

@keyframes square {
    0%{
        width: 100px;
        height: 100px;
    
    }
    25% {
        transform: translateX(200px);
        background-color: blueviolet;
        border-radius: 50px;
    }
    50% {
        transform: translate(200px, 200px);
        background-color: green;
        border-radius: 0px;
    }
    75% {
        transform: translate(0px, 200px);
        background-color: yellow;
             
    }
    100% {
        transform: translate(0px, 0px) rotate(360deg); 
                
        background-color: red;
    }
}

.cadre {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

